pipeline/PL_MLMTT_INGEST.json
{
	"name": "PL_MLMTT_INGEST",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DSET_SRC_INGEST_TABLE_LIST",
						"type": "DatasetReference",
						"parameters": {
							"container_folder_name": {
								"value": "@pipeline().globalParameters.G_TAB_LIST_LOC",
								"type": "Expression"
							},
							"table_list_file_name": {
								"value": "@concat(pipeline().Pipeline, '.lst')",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Fail1",
							"type": "Fail",
							"dependsOn": [
								{
									"activity": "MLMTT_TO_LANDING_ZONE",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"message": {
									"value": "@concat('수행 실패 테이블 명 : '   , item().schema_name,'.' , item().table_name)",
									"type": "Expression"
								},
								"errorCode": "-1"
							}
						},
						{
							"name": "MLMTT_TO_LANDING_ZONE",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.00:10:00",
								"retry": 3,
								"retryIntervalInSeconds": 60,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "Db2Source",
									"query": {
										"value": "@concat( 'select * from ' , item().schema_name, '.' , item().table_name, ';' )\n\n\n\n\n",
										"type": "Expression"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"enableSkipIncompatibleRow": true,
								"validateDataConsistency": true,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DSET_SRC_META_TABLE",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DSET_TGT_INGEST",
									"type": "DatasetReference",
									"parameters": {
										"P_FOLDER_1": {
											"value": "@pipeline().globalParameters.G_META_TGT",
											"type": "Expression"
										},
										"P_FOLDER_2": {
											"value": "@concat(formatDateTime(utcnow(), 'yyyyMMdd'), '/', item().db_name, '/' ,item().schema_name)",
											"type": "Expression"
										},
										"P_FILE_NAME": {
											"value": "@concat(item().table_name,'.parquet')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "01_MLMTT"
		},
		"annotations": [],
		"lastPublishTime": "2025-11-17T09:03:17Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}