new-met-adf/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory 이름",
			"defaultValue": "new-met-adf"
		},
		"Sftp1_password": {
			"type": "secureString",
			"metadata": "'Sftp1'의 'password'에 대한 보안 문자열"
		},
		"Sftp1_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "192.168.10.10"
		},
		"Sftp1_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "jeon"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Sftp1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Sftp",
				"typeProperties": {
					"host": "[parameters('Sftp1_properties_typeProperties_host')]",
					"port": 22,
					"skipHostKeyValidation": true,
					"authenticationType": "Basic",
					"userName": "[parameters('Sftp1_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('Sftp1_password')]"
					}
				},
				"connectVia": {
					"referenceName": "integrationRuntime1",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/vnet-integrationRuntime')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "Korea Central",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 10,
							"cleanup": false,
							"customProperties": []
						},
						"pipelineExternalComputeScaleProperties": {
							"timeToLive": 60,
							"numberOfPipelineNodes": 1,
							"numberOfExternalNodes": 1
						}
					}
				},
				"managedVirtualNetwork": {
					"type": "ManagedVirtualNetworkReference",
					"referenceName": "default"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline3')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "ParquetReadSettings"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DSET_TGT_INGEST",
								"type": "DatasetReference",
								"parameters": {
									"P_FOLDER_1": "ingest/dp/raw/init/MLADBT",
									"P_FOLDER_2": "dbo",
									"P_FILE_NAME": "test.parquet"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DSET_TGT_INGEST",
								"type": "DatasetReference",
								"parameters": {
									"P_FOLDER_1": "ingest",
									"P_FOLDER_2": "dp",
									"P_FILE_NAME": "new_test.parquet"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-03-05T07:30:24Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DEPT_SRC_MLADBT')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SRC_MLADBT",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "05_MLADBT"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DSET_SRC_META_TABLE')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SRC_META",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "01_META"
				},
				"annotations": [],
				"type": "Db2Table",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DSET_SRC_MLIWD_TABLE')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SRC_MLIWD",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "02_MLIWD"
				},
				"annotations": [],
				"type": "Db2Table",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Db2Table1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SRC_META",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Db2Table",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_MLADBT_INIT_INGEST')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "DSET_SRC_INGEST_TABLE_LIST",
								"type": "DatasetReference",
								"parameters": {
									"container_folder_name": {
										"value": "@pipeline().globalParameters.G_TAB_LIST_LOC",
										"type": "Expression"
									},
									"table_list_file_name": {
										"value": "@concat(pipeline().Pipeline, '.lst')",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Fail1",
									"type": "Fail",
									"dependsOn": [
										{
											"activity": "MLADBT_TO_LANDING_ZONE",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"message": {
											"value": "@concat('수행 실패 테이블 명 : '   , item().schema_name,'.' , item().table_name)",
											"type": "Expression"
										},
										"errorCode": "-1"
									}
								},
								{
									"name": "MLADBT_TO_LANDING_ZONE",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.00:10:00",
										"retry": 3,
										"retryIntervalInSeconds": 60,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": {
												"value": "@concat( 'select * from ' , item().schema_name, '.' , item().table_name, ';' )\n\n",
												"type": "Expression"
											},
											"queryTimeout": "00:10:00",
											"isolationLevel": "ReadUncommitted",
											"partitionOption": "None"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"enableSkipIncompatibleRow": true,
										"validateDataConsistency": true,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DEPT_SRC_MLADBT",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "DSET_TGT_INGEST",
											"type": "DatasetReference",
											"parameters": {
												"P_FOLDER_1": {
													"value": "@pipeline().globalParameters.G_INIT_TGT",
													"type": "Expression"
												},
												"P_FOLDER_2": {
													"value": "@concat(item().db_name, '/' ,item().schema_name)",
													"type": "Expression"
												},
												"P_FILE_NAME": {
													"value": "@concat(item().table_name,'.parquet')",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "05_MLADBT"
				},
				"annotations": [],
				"lastPublishTime": "2025-11-17T09:04:17Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DEPT_SRC_MLADBT')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_MLIWD_INIT_COPY_template')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data db2 to adls gen2",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 3,
							"retryIntervalInSeconds": 60,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "Db2Source",
								"query": {
									"value": "@concat( 'select * from ' , pipeline().parameters.schema, '.' , pipeline().parameters.table, ';' )\n",
									"type": "Expression"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DSET_SRC_MLIWD_TABLE",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DEL_DSET_TGT_INIT_INGEST",
								"type": "DatasetReference",
								"parameters": {
									"container_folder_name": {
										"value": "@pipeline().parameters.container_folder",
										"type": "Expression"
									},
									"db_name": {
										"value": "@pipeline().parameters.system",
										"type": "Expression"
									},
									"schema_name": {
										"value": "@pipeline().parameters.schema",
										"type": "Expression"
									},
									"file_name": {
										"value": "@pipeline().parameters.table",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"schema": {
						"type": "string",
						"defaultValue": "db2inst1"
					},
					"table": {
						"type": "string",
						"defaultValue": "act"
					},
					"system": {
						"type": "string",
						"defaultValue": "db2sample"
					},
					"container_folder": {
						"type": "string"
					}
				},
				"folder": {
					"name": "template"
				},
				"annotations": [],
				"lastPublishTime": "2025-11-17T02:36:32Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DSET_SRC_MLIWD_TABLE')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_MLIWD_INIT_INGEST_01')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "DSET_SRC_INGEST_TABLE_LIST",
								"type": "DatasetReference",
								"parameters": {
									"container_folder_name": {
										"value": "@pipeline().globalParameters.G_TAB_LIST_LOC",
										"type": "Expression"
									},
									"table_list_file_name": {
										"value": "@concat(pipeline().Pipeline, '.lst')",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Fail1",
									"type": "Fail",
									"dependsOn": [
										{
											"activity": "MLIWD_TO_LANDING_ZONE",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"message": {
											"value": "@concat('수행 실패 테이블 명 : '   , item().schema_name,'.' , item().table_name)",
											"type": "Expression"
										},
										"errorCode": "-1"
									}
								},
								{
									"name": "MLIWD_TO_LANDING_ZONE",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.00:10:00",
										"retry": 3,
										"retryIntervalInSeconds": 60,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "Db2Source",
											"query": {
												"value": "@concat( 'select * from ' , item().schema_name, '.' , item().table_name, ';' )\n\n\n\n\n",
												"type": "Expression"
											}
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"enableSkipIncompatibleRow": true,
										"validateDataConsistency": true,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DSET_SRC_MLIWD_TABLE",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "DSET_TGT_INGEST",
											"type": "DatasetReference",
											"parameters": {
												"P_FOLDER_1": {
													"value": "@pipeline().globalParameters.G_INIT_TGT",
													"type": "Expression"
												},
												"P_FOLDER_2": {
													"value": "@concat(item().db_name, '/' ,item().schema_name)",
													"type": "Expression"
												},
												"P_FILE_NAME": {
													"value": "@concat(item().table_name,'.parquet')",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "02_MLIWD"
				},
				"annotations": [],
				"lastPublishTime": "2025-11-17T08:56:30Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DSET_SRC_MLIWD_TABLE')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_MLMTT_INGEST')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "DSET_SRC_INGEST_TABLE_LIST",
								"type": "DatasetReference",
								"parameters": {
									"container_folder_name": {
										"value": "@pipeline().globalParameters.G_TAB_LIST_LOC",
										"type": "Expression"
									},
									"table_list_file_name": {
										"value": "@concat(pipeline().Pipeline, '.lst')",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Fail1",
									"type": "Fail",
									"dependsOn": [
										{
											"activity": "MLMTT_TO_LANDING_ZONE",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"message": {
											"value": "@concat('수행 실패 테이블 명 : '   , item().schema_name,'.' , item().table_name)",
											"type": "Expression"
										},
										"errorCode": "-1"
									}
								},
								{
									"name": "MLMTT_TO_LANDING_ZONE",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.00:10:00",
										"retry": 3,
										"retryIntervalInSeconds": 60,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "Db2Source",
											"query": {
												"value": "@concat( 'select * from ' , item().schema_name, '.' , item().table_name, ';' )\n\n\n\n\n",
												"type": "Expression"
											}
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"enableSkipIncompatibleRow": true,
										"validateDataConsistency": true,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DSET_SRC_META_TABLE",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "DSET_TGT_INGEST",
											"type": "DatasetReference",
											"parameters": {
												"P_FOLDER_1": {
													"value": "@pipeline().globalParameters.G_META_TGT",
													"type": "Expression"
												},
												"P_FOLDER_2": {
													"value": "@concat(formatDateTime(utcnow(), 'yyyyMMdd'), '/', item().db_name, '/' ,item().schema_name)",
													"type": "Expression"
												},
												"P_FILE_NAME": {
													"value": "@concat(item().table_name,'.parquet')",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "01_MLMTT"
				},
				"annotations": [],
				"lastPublishTime": "2025-11-17T09:03:17Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DSET_SRC_META_TABLE')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RAW_INGEST')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "DSET_SRC_INGEST_TABLE_LIST",
								"type": "DatasetReference",
								"parameters": {
									"container_folder_name": {
										"value": "@pipeline().globalParameters.G_TAB_LIST_LOC",
										"type": "Expression"
									},
									"table_list_file_name": {
										"value": "@concat(pipeline().Pipeline, '.lst')",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Switch1",
									"type": "Switch",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"on": {
											"value": "@toUpper(item().db_name)",
											"type": "Expression"
										},
										"cases": [
											{
												"value": "MLIWD",
												"activities": [
													{
														"name": "Fail1",
														"type": "Fail",
														"dependsOn": [
															{
																"activity": "Set variable1_copy2",
																"dependencyConditions": [
																	"Completed"
																]
															}
														],
														"userProperties": [],
														"typeProperties": {
															"message": {
																"value": "@concat('수행 실패 테이블 명 : '  , item().db_name,'.'  , item().schema_name,'.' , item().table_name)\n\n",
																"type": "Expression"
															},
															"errorCode": "-1"
														}
													},
													{
														"name": "MLIWD",
														"type": "Copy",
														"dependsOn": [],
														"policy": {
															"timeout": "0.00:10:00",
															"retry": 0,
															"retryIntervalInSeconds": 30,
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"source": {
																"type": "Db2Source",
																"query": {
																	"value": "@concat( 'select * from ' , item().schema_name, '.' , item().table_name, ';' )\n\n\n\n\n",
																	"type": "Expression"
																}
															},
															"sink": {
																"type": "ParquetSink",
																"storeSettings": {
																	"type": "AzureBlobStorageWriteSettings"
																},
																"formatSettings": {
																	"type": "ParquetWriteSettings"
																}
															},
															"enableStaging": false,
															"enableSkipIncompatibleRow": true,
															"validateDataConsistency": true,
															"translator": {
																"type": "TabularTranslator",
																"typeConversion": true,
																"typeConversionSettings": {
																	"allowDataTruncation": true,
																	"treatBooleanAsNumber": false
																}
															}
														},
														"inputs": [
															{
																"referenceName": "DSET_SRC_MLIWD_TABLE",
																"type": "DatasetReference",
																"parameters": {}
															}
														],
														"outputs": [
															{
																"referenceName": "DSET_TGT_INGEST",
																"type": "DatasetReference",
																"parameters": {
																	"P_FOLDER_1": {
																		"value": "@pipeline().globalParameters.G_INIT_TGT",
																		"type": "Expression"
																	},
																	"P_FOLDER_2": {
																		"value": "@concat(item().db_name, '/' ,item().schema_name)",
																		"type": "Expression"
																	},
																	"P_FILE_NAME": {
																		"value": "@concat(item().table_name,'.parquet')",
																		"type": "Expression"
																	}
																}
															}
														]
													},
													{
														"name": "Set variable1",
														"type": "SetVariable",
														"dependsOn": [
															{
																"activity": "MLIWD",
																"dependencyConditions": [
																	"Succeeded"
																]
															}
														],
														"policy": {
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"variableName": "LOG_MSG",
															"value": {
																"value": "@concat(\n  pipeline().Pipeline, ',',\n  pipeline().RunId, ',',\n  item().db_Name, ',',\n  item().schema_Name, ',',\n  item().table_Name, ',',\n  string(first(activity('MLIWD').output.executionDetails).status), ',',\n  string(first(activity('MLIWD').output.executionDetails).start), ',',\n  addToTime(string(first(activity('MLIWD').output.executionDetails).start),activity('MLIWD').output.copyDuration,'second'), ',',\n  activity('MLIWD').output.copyDuration,',',\n  string(activity('MLIWD').output.rowsRead),',',\n  string(activity('MLIWD').output.rowsCopied),',',\n  string(activity('MLIWD').output.rowsSkipped),',',\n  string(activity('MLIWD').output.dataConsistencyVerification.VerificationResult) , ',',\n    activity('MLIWD').output.errors)",
																"type": "Expression"
															}
														}
													},
													{
														"name": "Set variable1_copy2",
														"type": "SetVariable",
														"dependsOn": [
															{
																"activity": "MLIWD",
																"dependencyConditions": [
																	"Failed"
																]
															}
														],
														"policy": {
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"variableName": "LOG_MSG",
															"value": {
																"value": "@concat(\n  pipeline().Pipeline, ',',\n  pipeline().RunId, ',',\n  item().db_Name, ',',\n  item().schema_Name, ',',\n  item().table_Name, ',',\n  string(first(activity('MLIWD').output.executionDetails).status), ',',\n  string(first(activity('MLIWD').output.executionDetails).start), ',',\n  addToTime(string(first(activity('MLIWD').output.executionDetails).start),activity('MLIWD').output.copyDuration,'second'), ',',\n  activity('MLIWD').output.copyDuration,',',\n  string(activity('MLIWD').output.rowsRead),',',\n  ',',\n  string(activity('MLIWD').output.rowsSkipped),',',\n  string(activity('MLIWD').output.dataConsistencyVerification.VerificationResult) , ',',\n    activity('MLIWD').output.errors)",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"value": "MLMTT",
												"activities": [
													{
														"name": "Fail1_copy1",
														"type": "Fail",
														"dependsOn": [
															{
																"activity": "Set variable1_copy1_copy1",
																"dependencyConditions": [
																	"Completed"
																]
															}
														],
														"userProperties": [],
														"typeProperties": {
															"message": {
																"value": "@concat('수행 실패 테이블 명 : '  , item().db_name,'.'  , item().schema_name,'.' , item().table_name)\n",
																"type": "Expression"
															},
															"errorCode": "-1"
														}
													},
													{
														"name": "MLMTT",
														"type": "Copy",
														"dependsOn": [],
														"policy": {
															"timeout": "0.00:10:00",
															"retry": 0,
															"retryIntervalInSeconds": 60,
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"source": {
																"type": "Db2Source",
																"query": {
																	"value": "@concat( 'select * from ' , item().schema_name, '.' , item().table_name, ';' )\n\n\n\n\n",
																	"type": "Expression"
																}
															},
															"sink": {
																"type": "ParquetSink",
																"storeSettings": {
																	"type": "AzureBlobStorageWriteSettings"
																},
																"formatSettings": {
																	"type": "ParquetWriteSettings"
																}
															},
															"enableStaging": false,
															"enableSkipIncompatibleRow": true,
															"validateDataConsistency": true,
															"translator": {
																"type": "TabularTranslator",
																"typeConversion": true,
																"typeConversionSettings": {
																	"allowDataTruncation": true,
																	"treatBooleanAsNumber": false
																}
															}
														},
														"inputs": [
															{
																"referenceName": "DSET_SRC_META_TABLE",
																"type": "DatasetReference",
																"parameters": {}
															}
														],
														"outputs": [
															{
																"referenceName": "DSET_TGT_INGEST",
																"type": "DatasetReference",
																"parameters": {
																	"P_FOLDER_1": {
																		"value": "@pipeline().globalParameters.G_META_TGT",
																		"type": "Expression"
																	},
																	"P_FOLDER_2": {
																		"value": "@concat(formatDateTime(utcnow(), 'yyyyMMdd'), '/', item().db_name, '/' ,item().schema_name)",
																		"type": "Expression"
																	},
																	"P_FILE_NAME": {
																		"value": "@concat(item().table_name,'.parquet')",
																		"type": "Expression"
																	}
																}
															}
														]
													},
													{
														"name": "Set variable1_copy1",
														"type": "SetVariable",
														"dependsOn": [
															{
																"activity": "MLMTT",
																"dependencyConditions": [
																	"Succeeded"
																]
															}
														],
														"policy": {
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"variableName": "LOG_MSG",
															"value": {
																"value": "@concat(\n  pipeline().Pipeline, ',',\n  pipeline().RunId, ',',\n  item().db_Name, ',',\n  item().schema_Name, ',',\n  item().table_Name, ',',\n  string(first(activity('MLMTT').output.executionDetails).status), ',',\n  string(first(activity('MLMTT').output.executionDetails).start), ',',\n  addToTime(string(first(activity('MLMTT').output.executionDetails).start),activity('MLMTT').output.copyDuration,'second'), ',',\n  activity('MLMTT').output.copyDuration,',',\n  string(activity('MLMTT').output.rowsRead),',',\n  string(activity('MLMTT').output.rowsCopied),',',\n  string(activity('MLMTT').output.rowsSkipped),',',\n  string(activity('MLMTT').output.dataConsistencyVerification.VerificationResult) , ',',\n    activity('MLMTT').output.errors)",
																"type": "Expression"
															}
														}
													},
													{
														"name": "Set variable1_copy1_copy1",
														"type": "SetVariable",
														"dependsOn": [
															{
																"activity": "MLMTT",
																"dependencyConditions": [
																	"Failed"
																]
															}
														],
														"policy": {
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"variableName": "LOG_MSG",
															"value": {
																"value": "@concat(\n  pipeline().Pipeline, ',',\n  pipeline().RunId, ',',\n  item().db_Name, ',',\n  item().schema_Name, ',',\n  item().table_Name, ',',\n  string(first(activity('MLMTT').output.executionDetails).status), ',',\n  string(first(activity('MLMTT').output.executionDetails).start), ',',\n  addToTime(string(first(activity('MLMTT').output.executionDetails).start),activity('MLMTT').output.copyDuration,'second'), ',',\n  activity('MLMTT').output.copyDuration,',',\n  string(activity('MLMTT').output.rowsRead),',',\n  ',',\n  string(activity('MLMTT').output.rowsSkipped),',',\n  string(activity('MLMTT').output.dataConsistencyVerification.VerificationResult) , ',',\n    activity('MLMTT').output.errors)",
																"type": "Expression"
															}
														}
													}
												]
											}
										],
										"defaultActivities": [
											{
												"name": "Set variable1_copy2_copy1",
												"type": "SetVariable",
												"dependsOn": [],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "LOG_MSG",
													"value": {
														"value": "@concat(\n  pipeline().Pipeline, ',',\n  pipeline().RunId, ',',\n  item().db_Name, ',',\n  item().schema_Name, ',',\n  item().table_Name, ',',\n   ',',\n  formatDateTime(utcnow(), 'yyyyMMddHHmmss'), ',',\n   ',',\n   ',',\n   ',',\n   ',',\n   ',',\n   ',',\n   '디비명 확인')",
														"type": "Expression"
													}
												}
											},
											{
												"name": "Fail2",
												"type": "Fail",
												"dependsOn": [
													{
														"activity": "Set variable1_copy2_copy1",
														"dependencyConditions": [
															"Completed"
														]
													}
												],
												"userProperties": [],
												"typeProperties": {
													"message": {
														"value": "@concat('수행 실패 테이블 명 : '  , item().db_name,'.'  , item().schema_name,'.' , item().table_name)",
														"type": "Expression"
													},
													"errorCode": "-1"
												}
											}
										]
									}
								},
								{
									"name": "WRITE_INGEST_TAB_LOG",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "Switch1",
											"dependencyConditions": [
												"Completed"
											]
										}
									],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "WRITE_LOG_MSG",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"p_forder_name": {
												"value": "@concat(pipeline().globalParameters.G_LOG_TGT,\npipeline().Pipeline,'/')",
												"type": "Expression"
											},
											"p_log_name": {
												"value": "@concat(item().db_name,'.',item().schema_Name,'.', item().table_name,',',\nformatDateTime(utcnow(), 'yyyyMMdd_HHmmss'), '.log'  )",
												"type": "Expression"
											},
											"P_log_msg": {
												"value": "@variables('LOG_MSG')",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "Fail3",
									"type": "Fail",
									"dependsOn": [
										{
											"activity": "Switch1",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"message": {
											"value": "@variables('LOG_MSG')",
											"type": "Expression"
										},
										"errorCode": "-1"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"LOG_MSG": {
						"type": "String"
					}
				},
				"folder": {
					"name": "01_MLMTT"
				},
				"annotations": [],
				"lastPublishTime": "2025-11-23T13:01:45Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DSET_SRC_MLIWD_TABLE')]",
				"[concat(variables('factoryId'), '/datasets/DSET_SRC_META_TABLE')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RAW_INGEST_copy1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "DSET_SRC_INGEST_TABLE_LIST",
								"type": "DatasetReference",
								"parameters": {
									"container_folder_name": {
										"value": "@pipeline().globalParameters.G_TAB_LIST_LOC",
										"type": "Expression"
									},
									"table_list_file_name": {
										"value": "@concat(pipeline().Pipeline, '.lst')",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Switch1",
									"type": "Switch",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"on": {
											"value": "@toUpper(item().db_name)",
											"type": "Expression"
										},
										"cases": [
											{
												"value": "MLIWD",
												"activities": [
													{
														"name": "Fail1",
														"type": "Fail",
														"dependsOn": [
															{
																"activity": "Set variable1_copy2",
																"dependencyConditions": [
																	"Completed"
																]
															}
														],
														"userProperties": [],
														"typeProperties": {
															"message": {
																"value": "@concat('수행 실패 테이블 명 : '  , item().db_name,'.'  , item().schema_name,'.' , item().table_name)\n\n",
																"type": "Expression"
															},
															"errorCode": "-1"
														}
													},
													{
														"name": "MLIWD",
														"type": "Copy",
														"dependsOn": [],
														"policy": {
															"timeout": "0.00:10:00",
															"retry": 0,
															"retryIntervalInSeconds": 30,
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"source": {
																"type": "Db2Source",
																"query": {
																	"value": "@concat( 'select * from ' , item().schema_name, '.' , item().table_name, ';' )\n\n\n\n\n",
																	"type": "Expression"
																}
															},
															"sink": {
																"type": "ParquetSink",
																"storeSettings": {
																	"type": "AzureBlobStorageWriteSettings"
																},
																"formatSettings": {
																	"type": "ParquetWriteSettings"
																}
															},
															"enableStaging": false,
															"enableSkipIncompatibleRow": true,
															"validateDataConsistency": true,
															"translator": {
																"type": "TabularTranslator",
																"typeConversion": true,
																"typeConversionSettings": {
																	"allowDataTruncation": true,
																	"treatBooleanAsNumber": false
																}
															}
														},
														"inputs": [
															{
																"referenceName": "DSET_SRC_MLIWD_TABLE",
																"type": "DatasetReference",
																"parameters": {}
															}
														],
														"outputs": [
															{
																"referenceName": "DSET_TGT_INGEST",
																"type": "DatasetReference",
																"parameters": {
																	"P_FOLDER_1": {
																		"value": "@pipeline().globalParameters.G_INIT_TGT",
																		"type": "Expression"
																	},
																	"P_FOLDER_2": {
																		"value": "@concat(item().db_name, '/' ,item().schema_name)",
																		"type": "Expression"
																	},
																	"P_FILE_NAME": {
																		"value": "@concat(item().table_name,'.parquet')",
																		"type": "Expression"
																	}
																}
															}
														]
													},
													{
														"name": "Set variable1",
														"type": "SetVariable",
														"dependsOn": [
															{
																"activity": "MLIWD",
																"dependencyConditions": [
																	"Succeeded"
																]
															}
														],
														"policy": {
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"variableName": "LOG_MSG",
															"value": {
																"value": "@concat(\n  pipeline().Pipeline, ',',\n  pipeline().RunId, ',',\n  item().db_Name, ',',\n  item().schema_Name, ',',\n  item().table_Name, ',',\n  string(first(activity('MLIWD').output.executionDetails).status), ',',\n  string(first(activity('MLIWD').output.executionDetails).start), ',',\n  addToTime(string(first(activity('MLIWD').output.executionDetails).start),activity('MLIWD').output.copyDuration,'second'), ',',\n  activity('MLIWD').output.copyDuration,',',\n  string(activity('MLIWD').output.rowsRead),',',\n  string(activity('MLIWD').output.rowsCopied),',',\n  string(activity('MLIWD').output.rowsSkipped),',',\n  string(activity('MLIWD').output.dataConsistencyVerification.VerificationResult) , ',',\n    activity('MLIWD').output.errors)",
																"type": "Expression"
															}
														}
													},
													{
														"name": "Set variable1_copy2",
														"type": "SetVariable",
														"dependsOn": [
															{
																"activity": "MLIWD",
																"dependencyConditions": [
																	"Failed"
																]
															}
														],
														"policy": {
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"variableName": "LOG_MSG",
															"value": {
																"value": "@concat(\n  pipeline().Pipeline, ',',\n  pipeline().RunId, ',',\n  item().db_Name, ',',\n  item().schema_Name, ',',\n  item().table_Name, ',',\n  string(first(activity('MLIWD').output.executionDetails).status), ',',\n  string(first(activity('MLIWD').output.executionDetails).start), ',',\n  addToTime(string(first(activity('MLIWD').output.executionDetails).start),activity('MLIWD').output.copyDuration,'second'), ',',\n  activity('MLIWD').output.copyDuration,',',\n  string(activity('MLIWD').output.rowsRead),',',\n  ',',\n  string(activity('MLIWD').output.rowsSkipped),',',\n  string(activity('MLIWD').output.dataConsistencyVerification.VerificationResult) , ',',\n    activity('MLIWD').output.errors)",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"value": "MLMTT",
												"activities": [
													{
														"name": "Fail1_copy1",
														"type": "Fail",
														"dependsOn": [
															{
																"activity": "Set variable1_copy1_copy1",
																"dependencyConditions": [
																	"Completed"
																]
															}
														],
														"userProperties": [],
														"typeProperties": {
															"message": {
																"value": "@concat('수행 실패 테이블 명 : '  , item().db_name,'.'  , item().schema_name,'.' , item().table_name)\n",
																"type": "Expression"
															},
															"errorCode": "-1"
														}
													},
													{
														"name": "MLMTT",
														"type": "Copy",
														"dependsOn": [],
														"policy": {
															"timeout": "0.00:10:00",
															"retry": 0,
															"retryIntervalInSeconds": 60,
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"source": {
																"type": "Db2Source",
																"query": {
																	"value": "@concat( 'select * from ' , item().schema_name, '.' , item().table_name, ';' )\n\n\n\n\n",
																	"type": "Expression"
																}
															},
															"sink": {
																"type": "ParquetSink",
																"storeSettings": {
																	"type": "AzureBlobStorageWriteSettings"
																},
																"formatSettings": {
																	"type": "ParquetWriteSettings"
																}
															},
															"enableStaging": false,
															"enableSkipIncompatibleRow": true,
															"validateDataConsistency": true,
															"translator": {
																"type": "TabularTranslator",
																"typeConversion": true,
																"typeConversionSettings": {
																	"allowDataTruncation": true,
																	"treatBooleanAsNumber": false
																}
															}
														},
														"inputs": [
															{
																"referenceName": "DSET_SRC_META_TABLE",
																"type": "DatasetReference",
																"parameters": {}
															}
														],
														"outputs": [
															{
																"referenceName": "DSET_TGT_INGEST",
																"type": "DatasetReference",
																"parameters": {
																	"P_FOLDER_1": {
																		"value": "@pipeline().globalParameters.G_META_TGT",
																		"type": "Expression"
																	},
																	"P_FOLDER_2": {
																		"value": "@concat(formatDateTime(utcnow(), 'yyyyMMdd'), '/', item().db_name, '/' ,item().schema_name)",
																		"type": "Expression"
																	},
																	"P_FILE_NAME": {
																		"value": "@concat(item().table_name,'.parquet')",
																		"type": "Expression"
																	}
																}
															}
														]
													},
													{
														"name": "Set variable1_copy1",
														"type": "SetVariable",
														"dependsOn": [
															{
																"activity": "MLMTT",
																"dependencyConditions": [
																	"Succeeded"
																]
															}
														],
														"policy": {
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"variableName": "LOG_MSG",
															"value": {
																"value": "@concat(\n  pipeline().Pipeline, ',',\n  pipeline().RunId, ',',\n  item().db_Name, ',',\n  item().schema_Name, ',',\n  item().table_Name, ',',\n  string(first(activity('MLMTT').output.executionDetails).status), ',',\n  string(first(activity('MLMTT').output.executionDetails).start), ',',\n  addToTime(string(first(activity('MLMTT').output.executionDetails).start),activity('MLMTT').output.copyDuration,'second'), ',',\n  activity('MLMTT').output.copyDuration,',',\n  string(activity('MLMTT').output.rowsRead),',',\n  string(activity('MLMTT').output.rowsCopied),',',\n  string(activity('MLMTT').output.rowsSkipped),',',\n  string(activity('MLMTT').output.dataConsistencyVerification.VerificationResult) , ',',\n    activity('MLMTT').output.errors)",
																"type": "Expression"
															}
														}
													},
													{
														"name": "Set variable1_copy1_copy1",
														"type": "SetVariable",
														"dependsOn": [
															{
																"activity": "MLMTT",
																"dependencyConditions": [
																	"Failed"
																]
															}
														],
														"policy": {
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"variableName": "LOG_MSG",
															"value": {
																"value": "@concat(\n  pipeline().Pipeline, ',',\n  pipeline().RunId, ',',\n  item().db_Name, ',',\n  item().schema_Name, ',',\n  item().table_Name, ',',\n  string(first(activity('MLMTT').output.executionDetails).status), ',',\n  string(first(activity('MLMTT').output.executionDetails).start), ',',\n  addToTime(string(first(activity('MLMTT').output.executionDetails).start),activity('MLMTT').output.copyDuration,'second'), ',',\n  activity('MLMTT').output.copyDuration,',',\n  string(activity('MLMTT').output.rowsRead),',',\n  ',',\n  string(activity('MLMTT').output.rowsSkipped),',',\n  string(activity('MLMTT').output.dataConsistencyVerification.VerificationResult) , ',',\n    activity('MLMTT').output.errors)",
																"type": "Expression"
															}
														}
													}
												]
											}
										],
										"defaultActivities": [
											{
												"name": "Set variable1_copy2_copy1",
												"type": "SetVariable",
												"dependsOn": [],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "LOG_MSG",
													"value": {
														"value": "@concat(\n  pipeline().Pipeline, ',',\n  pipeline().RunId, ',',\n  item().db_Name, ',',\n  item().schema_Name, ',',\n  item().table_Name, ',',\n   ',',\n  formatDateTime(utcnow(), 'yyyyMMddHHmmss'), ',',\n   ',',\n   ',',\n   ',',\n   ',',\n   ',',\n   ',',\n   '디비명 확인')",
														"type": "Expression"
													}
												}
											},
											{
												"name": "Fail2",
												"type": "Fail",
												"dependsOn": [
													{
														"activity": "Set variable1_copy2_copy1",
														"dependencyConditions": [
															"Completed"
														]
													}
												],
												"userProperties": [],
												"typeProperties": {
													"message": {
														"value": "@concat('수행 실패 테이블 명 : '  , item().db_name,'.'  , item().schema_name,'.' , item().table_name)",
														"type": "Expression"
													},
													"errorCode": "-1"
												}
											}
										]
									}
								},
								{
									"name": "WRITE_INGEST_TAB_LOG",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "Switch1",
											"dependencyConditions": [
												"Completed"
											]
										}
									],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "WRITE_LOG_MSG",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"p_forder_name": {
												"value": "@concat(pipeline().globalParameters.G_LOG_TGT,\npipeline().Pipeline,'/')",
												"type": "Expression"
											},
											"p_log_name": {
												"value": "@concat(item().db_name,'.',item().schema_Name,'.', item().table_name,',',\nformatDateTime(utcnow(), 'yyyyMMdd_HHmmss'), '.log'  )",
												"type": "Expression"
											},
											"P_log_msg": {
												"value": "@variables('LOG_MSG')",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "Fail3",
									"type": "Fail",
									"dependsOn": [
										{
											"activity": "Switch1",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"message": {
											"value": "@variables('LOG_MSG')",
											"type": "Expression"
										},
										"errorCode": "-1"
									}
								}
							]
						}
					},
					{
						"name": "WRITE_PIPELINE_LOG",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "ForEach1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "WRITE_LOG_MSG",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"p_forder_name": {
									"value": "@pipeline().globalParameters.G_INIT_STATUS_TGT",
									"type": "Expression"
								},
								"p_log_name": {
									"value": "@concat(formatDateTime(utcnow(), 'yyyyMMddHHmmss'),'.txt')",
									"type": "Expression"
								},
								"P_log_msg": "성공"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"LOG_MSG": {
						"type": "String"
					}
				},
				"folder": {
					"name": "01_MLMTT"
				},
				"annotations": [],
				"lastPublishTime": "2025-11-23T13:01:45Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DSET_SRC_MLIWD_TABLE')]",
				"[concat(variables('factoryId'), '/datasets/DSET_SRC_META_TABLE')]"
			]
		}
	]
}