new-met-adf/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory 이름",
			"defaultValue": "new-met-adf"
		},
		"Db21mydb_connectionString": {
			"type": "secureString",
			"metadata": "'Db21mydb'의 'connectionString'에 대한 보안 문자열"
		},
		"SRC_META_connectionString": {
			"type": "secureString",
			"metadata": "'SRC_META'의 'connectionString'에 대한 보안 문자열"
		},
		"SRC_MLADBT_password": {
			"type": "secureString",
			"metadata": "'SRC_MLADBT'의 'password'에 대한 보안 문자열"
		},
		"SRC_MLIWD_connectionString": {
			"type": "secureString",
			"metadata": "'SRC_MLIWD'의 'connectionString'에 대한 보안 문자열"
		},
		"AzureDataLakeStorage1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://ab3.dfs.core.windows.net/"
		},
		"CosmosDbNoSql1_properties_typeProperties_accountEndpoint": {
			"type": "string",
			"defaultValue": "https://dffdsfdsfdsafdsafds.documents.azure.com:443/"
		},
		"CosmosDbNoSql1_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "mydb"
		},
		"SRC_INGEST_properties_typeProperties_serviceEndpoint": {
			"type": "string",
			"defaultValue": "https://ab3.blob.core.windows.net/"
		},
		"TGT_INGEST_properties_typeProperties_serviceEndpoint": {
			"type": "string",
			"defaultValue": "https://ab3.blob.core.windows.net/"
		},
		"SRC_MLADBT_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "192.168.0.114,1942"
		},
		"SRC_MLADBT_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "master"
		},
		"SRC_MLADBT_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "jeon"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/WRITE_LOG_MSG')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "WRITE_LOG_MSG",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "WRITE_LOG_MSG_copy2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "PATCH",
							"headers": {},
							"disableCertValidation": false,
							"url": {
								"value": "@concat('https://ab3.dfs.core.windows.net/ingest/my.log?action=append&position=0')\n",
								"type": "Expression"
							},
							"body": {
								"value": "@pipeline().parameters.P_log_msg",
								"type": "Expression"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://storage.azure.com"
							}
						}
					},
					{
						"name": "Set variable1",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "body_length",
							"value": {
								"value": "@add(length(pipeline().parameters.P_log_msg),0)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "WRITE_LOG_MSG_copy1",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "WRITE_LOG_MSG",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "PATCH",
							"headers": {},
							"disableCertValidation": false,
							"url": {
								"value": "@concat('https://ab3.dfs.core.windows.net/ingest/my.log?action=flush&position=',variables('body_length'))\n\n\n",
								"type": "Expression"
							},
							"body": {
								"value": "@pipeline().parameters.p_forder_name",
								"type": "Expression"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://storage.azure.com"
							}
						}
					},
					{
						"name": "WRITE_LOG_MSG_copy2",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Set variable1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "PUT",
							"headers": {},
							"disableCertValidation": false,
							"url": {
								"value": "@concat('https://ab3.dfs.core.windows.net/ingest/my.log?resource=file')",
								"type": "Expression"
							},
							"body": {
								"value": "@pipeline().parameters.p_forder_name",
								"type": "Expression"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://storage.azure.com"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"p_forder_name": {
						"type": "string"
					},
					"p_log_name": {
						"type": "string"
					},
					"P_log_msg": {
						"type": "string"
					}
				},
				"variables": {
					"body_length": {
						"type": "Integer"
					},
					"ddddd": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2025-11-23T13:01:45Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Fail1",
						"type": "Fail",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"message": {
								"value": "@Concat(pipeline().parameters.f,',',pipeline().parameters.p)",
								"type": "Expression"
							},
							"errorCode": "-1"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"f": {
						"type": "string"
					},
					"p": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2025-12-08T08:37:14Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline4')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GETLOG_MSG",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "GET",
							"headers": {},
							"disableCertValidation": false,
							"url": {
								"value": "@concat('https://ab3.dfs.core.windows.net/ingest/my.log')",
								"type": "Expression"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://storage.azure.com"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2025-11-23T13:01:45Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorage1_properties_typeProperties_url')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CosmosDbNoSql1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "CosmosDb",
				"typeProperties": {
					"accountEndpoint": "[parameters('CosmosDbNoSql1_properties_typeProperties_accountEndpoint')]",
					"database": "[parameters('CosmosDbNoSql1_properties_typeProperties_database')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SRC_INGEST')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"serviceEndpoint": "[parameters('SRC_INGEST_properties_typeProperties_serviceEndpoint')]",
					"accountKind": "StorageV2"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/TGT_INGEST')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "rre",
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"serviceEndpoint": "[parameters('TGT_INGEST_properties_typeProperties_serviceEndpoint')]",
					"accountKind": "StorageV2"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SHIR')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/integrationRuntime1')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {
					"selfContainedInteractiveAuthoringEnabled": false
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/credential1')]",
			"type": "Microsoft.DataFactory/factories/credentials",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "ManagedIdentity",
				"typeProperties": {
					"resourceId": "/subscriptions/aca1fe2c-ac27-4d3a-84d7-47ae36fb1be7/resourceGroups/met-test/providers/Microsoft.ManagedIdentity/userAssignedIdentities/adf-blod"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/default')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks",
			"apiVersion": "2018-06-01",
			"properties": {},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DEL_DSET_TGT_INIT_INGEST')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "TGT_INGEST",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"container_folder_name": {
						"type": "string"
					},
					"db_name": {
						"type": "string"
					},
					"schema_name": {
						"type": "string"
					},
					"file_name": {
						"type": "string"
					}
				},
				"folder": {
					"name": "06_INGEST"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@concat(dataset().file_name,'.parquet' )",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@concat(dataset().db_name, '/' ,dataset().schema_name)",
							"type": "Expression"
						},
						"container": {
							"value": "@dataset().container_folder_name",
							"type": "Expression"
						}
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/TGT_INGEST')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DEST_TGT_PIPELINE_FINISHED')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SRC_INGEST",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"container_folder_name": {
						"type": "string"
					},
					"file_name": {
						"type": "string"
					}
				},
				"folder": {
					"name": "06_INGEST"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@concat(dataset().file_name, '.txt')",
							"type": "Expression"
						},
						"container": {
							"value": "@dataset().container_folder_name",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SRC_INGEST')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DSET_SRC_INGEST_TABLE_LIST')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SRC_INGEST",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"container_folder_name": {
						"type": "string"
					},
					"table_list_file_name": {
						"type": "string"
					}
				},
				"folder": {
					"name": "06_INGEST"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().table_list_file_name",
							"type": "Expression"
						},
						"container": {
							"value": "@dataset().container_folder_name",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "db_name",
						"type": "String"
					},
					{
						"name": "schema_name",
						"type": "String"
					},
					{
						"name": "table_name",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SRC_INGEST')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DSET_TGT_INGEST')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "TGT_INGEST",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"P_FOLDER_1": {
						"type": "string"
					},
					"P_FOLDER_2": {
						"type": "string"
					},
					"P_FILE_NAME": {
						"type": "string"
					}
				},
				"folder": {
					"name": "06_INGEST"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().P_FILE_NAME",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().P_FOLDER_2",
							"type": "Expression"
						},
						"container": {
							"value": "@dataset().P_FOLDER_1",
							"type": "Expression"
						}
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/TGT_INGEST')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Parquet1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "test"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Db21mydb')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Db2",
				"typeProperties": {
					"connectionString": "[parameters('Db21mydb_connectionString')]"
				},
				"connectVia": {
					"referenceName": "integrationRuntime1",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/integrationRuntime1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SRC_META')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Db2",
				"typeProperties": {
					"connectionString": "[parameters('SRC_META_connectionString')]"
				},
				"connectVia": {
					"referenceName": "integrationRuntime1",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/integrationRuntime1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SRC_MLADBT')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('SRC_MLADBT_properties_typeProperties_server')]",
					"database": "[parameters('SRC_MLADBT_properties_typeProperties_database')]",
					"encrypt": "optional",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('SRC_MLADBT_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('SRC_MLADBT_password')]"
					}
				},
				"connectVia": {
					"referenceName": "integrationRuntime1",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/integrationRuntime1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SRC_MLIWD')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "IW DB 서버 ",
				"annotations": [],
				"type": "Db2",
				"typeProperties": {
					"connectionString": "[parameters('SRC_MLIWD_connectionString')]"
				},
				"connectVia": {
					"referenceName": "integrationRuntime1",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/integrationRuntime1')]"
			]
		}
	]
}